
$vOverlap: 15px;

$verticalLineWidth: 2px;


.scale {
  height: calc(100vh - $vOverlap - $vOverlap);
  width: 100vw;
  position: relative;
  margin: $vOverlap 0;
  touch-action: none;
}

.verticalLine {
  border-left: 2px solid #fff;
  position: absolute;
  top: 0 - $vOverlap; left: calc(50% - 1px); bottom: 0 - $vOverlap;
  width: $verticalLineWidth;
}

.marker {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-50%);
  &.left {
    right: calc(50% + $verticalLineWidth);
    .dash {margin-left: 10px;}
  }
  &.right {
    left: calc(50% + $verticalLineWidth);
    flex-direction: row-reverse;
    .dash {margin-right: 10px;}
  }
}

.dash {
  height: 1px;
  width: 10px;
  border-top: 1px solid #fff;
  .minor & {
    width: 5px;
    border-color: #aaa;
  }
}

.celsius, .fahrenheit {
  position: absolute;
}

.celsius {
  left: 10%;
}

.fahrenheit {
  right: 10%;
}
